/* styles.css */
h1 {
    color: red;
}

p {
    font-size: 18px;
}

/* Boton filtrar */
.form-pares{
    display: none;
}

/* Boton números primos */

.show-container{
    display: none;
}

.show-resultado{
    display: none;
}

/* Dom manipulation */

.insert-text{
    display: none;
}

.show-text{
    display: none;
}

/* Obten el mayor */

.show-mayor{
    display: none;
}

.show-resultado{
    display: none;
}

.show-reset{
    display: none;
}

/* Maneja promesa */

.show-article{
    display: none;
}